openapi: 3.0.3
info:
  title: Loadify Market API
  version: 3.0.0
  description: |
    OpenAPI reference for Loadify Market — a UK multi-category **physical products** marketplace.

    This document covers the Netlify Functions API surface used by production flows:
    buyer/seller auth, product listing, checkout/payment, shipping, offers, messaging,
    support, Stripe Connect onboarding, and operational reporting endpoints.
  contact:
    name: Loadify Market Support
    url: https://loadifymarket.co.uk/contact
    email: contact@loadifymarket.co.uk
  license:
    name: Proprietary
    url: https://loadifymarket.co.uk/terms

servers:
  - url: https://loadifymarket.co.uk/.netlify/functions
    description: Production
  - url: http://localhost:8888/.netlify/functions
    description: Local development (netlify dev)

tags:
  - name: Auth
  - name: Catalog
  - name: Checkout
  - name: Payments
  - name: Shipping
  - name: Offers & Messages
  - name: Seller Payouts
  - name: Support
  - name: Feeds
  - name: Observability

paths:
  /health:
    get:
      tags: [Observability]
      summary: Function health probe
      responses:
        '200':
          description: Healthy

  /register:
    post:
      tags: [Auth]
      summary: Register buyer or seller user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '200':
          description: Registration successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /resend-verification:
    post:
      tags: [Auth]
      summary: Resend verification email (admin flow)
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Email triggered
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /create-product:
    post:
      tags: [Catalog]
      summary: Create product listing
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Product created
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /update-product:
    post:
      tags: [Catalog]
      summary: Update product listing
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Product updated
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /create-checkout:
    post:
      tags: [Checkout]
      summary: Create Stripe Checkout session (web)
      description: |
        Price and shipping are validated server-side from DB data.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckoutRequest'
      responses:
        '200':
          description: Checkout session created
          content:
            application/json:
              schema:
                type: object
                required: [url, sessionId]
                properties:
                  url: { type: string, format: uri }
                  sessionId: { type: string }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /create-payment-intent:
    post:
      tags: [Payments]
      summary: Create Stripe PaymentIntent (mobile/APK)
      description: |
        Mobile checkout endpoint.
        Shipping cost is resolved server-side from shipping tables using shippingMethodId.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentIntentRequest'
      responses:
        '200':
          description: PaymentIntent created
          content:
            application/json:
              schema:
                type: object
                required: [client_secret, payment_intent_id, amount_pence]
                properties:
                  client_secret: { type: string }
                  payment_intent_id: { type: string }
                  amount_pence: { type: integer }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /checkout-from-offer:
    post:
      tags: [Checkout]
      summary: Create checkout from accepted offer
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Checkout created from offer

  /stripe-webhook:
    post:
      tags: [Payments]
      summary: Stripe webhook receiver
      description: Handles checkout/payment lifecycle and seller payout bookkeeping.
      responses:
        '200':
          description: Event processed
        '400': { $ref: '#/components/responses/BadRequest' }

  /create-shipment:
    post:
      tags: [Shipping]
      summary: Create shipment for paid order
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Shipment created

  /update-shipment-status:
    post:
      tags: [Shipping]
      summary: Update shipment status
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Shipment updated

  /track-shipment:
    post:
      tags: [Shipping]
      summary: Track shipment by order/tracking data
      responses:
        '200':
          description: Shipment tracking returned

  /rfq:
    post:
      tags: [Offers & Messages]
      summary: Create RFQ request for sellers
      security:
        - bearerAuth: []
      responses:
        '200':
          description: RFQ submitted

  /conversation-get-or-create:
    post:
      tags: [Offers & Messages]
      summary: Resolve/create buyer-seller conversation
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Conversation ready

  /conversation-offer:
    post:
      tags: [Offers & Messages]
      summary: Send offer in conversation
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Offer created

  /offer-accept:
    post:
      tags: [Offers & Messages]
      summary: Accept offer
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Offer accepted

  /offer-decline:
    post:
      tags: [Offers & Messages]
      summary: Decline offer
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Offer declined

  /connect-onboard:
    post:
      tags: [Seller Payouts]
      summary: Start Stripe Connect onboarding
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Onboarding link created

  /connect-status:
    get:
      tags: [Seller Payouts]
      summary: Read seller Stripe Connect status
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Status returned

  /connect-dashboard:
    get:
      tags: [Seller Payouts]
      summary: Create Stripe Express dashboard link
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Dashboard URL returned

  /support-ticket-create:
    post:
      tags: [Support]
      summary: Create support ticket
      responses:
        '200':
          description: Ticket created

  /product-feed:
    get:
      tags: [Feeds]
      summary: Product feed for channels (Google/Meta/TikTok)
      parameters:
        - in: query
          name: page
          schema: { type: integer, minimum: 1 }
      responses:
        '200':
          description: RSS/XML feed
          content:
            application/rss+xml:
              schema:
                type: string

  /error-report:
    post:
      tags: [Observability]
      summary: Client error report intake
      responses:
        '200':
          description: Report accepted

  /csp-report:
    post:
      tags: [Observability]
      summary: CSP violation report intake
      responses:
        '200':
          description: Report accepted

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    RegisterRequest:
      type: object
      required: [email, password, firstName, lastName, role]
      properties:
        email: { type: string, format: email }
        password: { type: string, minLength: 8 }
        firstName: { type: string }
        lastName: { type: string }
        role:
          type: string
          enum: [buyer, seller]
          description: "Allowed values: buyer, seller. Admin accounts are created via internal tooling only."
        storeName:
          type: string
          description: Required when role is seller.

    RegisterResponse:
      type: object
      properties:
        success: { type: boolean }
        userId: { type: string, format: uuid }

    CheckoutItem:
      type: object
      required: [productId, quantity, title]
      properties:
        productId: { type: string, format: uuid }
        quantity: { type: integer, minimum: 1 }
        title: { type: string }

    CheckoutRequest:
      type: object
      required: [items, buyerId, billingAddress]
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/CheckoutItem' }
        buyerId: { type: string, format: uuid }
        shippingMethodId:
          type: string
          format: uuid
          nullable: true
        shippingAddress:
          type: object
          additionalProperties: { type: string }
        billingAddress:
          type: object
          additionalProperties: { type: string }

    PaymentIntentRequest:
      allOf:
        - $ref: '#/components/schemas/CheckoutRequest'

    Error:
      type: object
      properties:
        error: { type: string }

  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Unauthorized:
      description: Missing or invalid auth
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Conflict:
      description: Conflict
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    TooManyRequests:
      description: Rate limit exceeded
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
