openapi: 3.0.3
info:
  title: Loadify Market API
  version: 1.0.0
  description: |
    REST API for the Loadify Market LTD platform — a UK-based wholesale and
    liquidation marketplace.

    All serverless endpoints are served from Netlify Functions at:
    `/.netlify/functions/{function-name}`

    Authenticated endpoints require a Supabase JWT bearer token obtained via
    `POST /auth/v1/token` (Supabase Auth). Pass it as:
    `Authorization: Bearer <token>`

  contact:
    name: Loadify Market Support
    url: https://loadifymarket.co.uk/contact
  license:
    name: Proprietary
    url: https://loadifymarket.co.uk/terms

servers:
  - url: https://loadifymarket.co.uk/.netlify/functions
    description: Production (Netlify Functions)
  - url: http://localhost:8888/.netlify/functions
    description: Local development (netlify dev)

tags:
  - name: Auth
    description: User registration and authentication (via Netlify Functions + Supabase Auth)
  - name: Checkout
    description: Cart checkout and Stripe payment session creation
  - name: Orders
    description: Order lifecycle and invoice generation
  - name: Shipments
    description: Shipment creation, tracking and status updates
  - name: Connect
    description: Stripe Connect Express onboarding and payout management for sellers
  - name: Notifications
    description: Transactional email notifications (SendGrid)
  - name: Reporting
    description: Client-side error and CSP-violation reporting
  - name: System
    description: Health check and diagnostic endpoints

# ─────────────────────────────────────────────────────────────────────────────
# PATHS
# ─────────────────────────────────────────────────────────────────────────────
paths:

  # ── Auth ──────────────────────────────────────────────────────────────────

  /register:
    post:
      tags: [Auth]
      summary: Register a new user account
      description: |
        Creates a Supabase auth user via the Admin API (email confirmed
        immediately — no verification email sent), inserts a `public.users`
        profile row, and, for sellers, upserts `seller_profiles` /
        `seller_stores`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
            examples:
              buyer:
                summary: Buyer registration
                value:
                  email: buyer@example.com
                  password: "securepassword"
                  firstName: Jane
                  lastName: Smith
                  role: buyer
              seller:
                summary: Seller registration
                value:
                  email: seller@example.com
                  password: "securepassword"
                  firstName: John
                  lastName: Doe
                  role: seller
                  storeName: John's Wholesale Store
      responses:
        '200':
          description: Account created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  userId:
                    type: string
                    format: uuid
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          description: Email address already registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          description: Registration service not configured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ── Checkout ─────────────────────────────────────────────────────────────

  /create-checkout:
    post:
      tags: [Checkout]
      summary: Create a Stripe Checkout Session
      description: |
        Validates cart items against the database (price integrity + stock),
        creates a Stripe Checkout Session for GBP payment, and returns the
        hosted checkout URL.  On payment completion the buyer is redirected to
        `/orders/success?session_id={CHECKOUT_SESSION_ID}`.

        Supports multi-seller carts — one transfer per seller is created via
        Stripe Connect after payment.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCheckoutRequest'
      responses:
        '200':
          description: Stripe Checkout Session created
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    format: uri
                    description: Hosted Stripe Checkout URL — redirect the buyer here
                  sessionId:
                    type: string
                    description: Stripe Session ID (cs_…)
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  # ── Stripe Webhook ────────────────────────────────────────────────────────

  /stripe-webhook:
    post:
      tags: [Checkout]
      summary: Handle Stripe webhook events
      description: |
        Receives signed webhook events from Stripe.  Verified using
        `STRIPE_WEBHOOK_SECRET` or `STRIPE_CONNECT_WEBHOOK_SECRET`.

        Handled events:
        - `checkout.session.completed` — creates order + order items, triggers
          seller transfer (Stripe Connect)
        - `account.updated` — syncs Stripe Connect account status to
          `seller_profiles.stripeConnectStatus`

        Idempotent: duplicate events (by `event.id`) are skipped.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Stripe Event object (raw body required for signature verification)
      responses:
        '200':
          description: Event processed
        '400':
          description: Invalid signature or unknown event
        '500':
          $ref: '#/components/responses/InternalError'

  # ── Shipments ─────────────────────────────────────────────────────────────

  /create-shipment:
    post:
      tags: [Shipments]
      summary: Create or update a shipment for an order
      description: |
        Sellers use this to record dispatch details for an order.
        Creates a new `shipments` row (201) or updates an existing one (200).
        Also updates `orders.status` to `shipped` when dispatched.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateShipmentRequest'
      responses:
        '200':
          description: Existing shipment updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shipment'
        '201':
          description: New shipment created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shipment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'

  /track-shipment:
    get:
      tags: [Shipments]
      summary: Track a shipment by order number or order ID
      description: |
        Public endpoint (no auth required) to look up shipment status for a
        given order.  At least one of `orderNumber` or `order_id` must be
        supplied; `email` is used to verify ownership when `order_id` is used.
      parameters:
        - name: orderNumber
          in: query
          description: Human-readable order reference (e.g. LM-20240101-XXXX)
          schema:
            type: string
        - name: order_id
          in: query
          description: Order UUID
          schema:
            type: string
            format: uuid
        - name: email
          in: query
          description: Buyer email (required when using order_id for ownership check)
          schema:
            type: string
            format: email
      responses:
        '200':
          description: Shipment tracking details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentTracking'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          description: Order or shipment not found

  /update-shipment-status:
    put:
      tags: [Shipments]
      summary: Update the status of a shipment
      description: |
        Sellers and admins can update shipment status (e.g. `dispatched`,
        `in_transit`, `delivered`).  Optionally includes a status message.
        Automatically updates `orders.status` when status transitions to
        `delivered`.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateShipmentStatusRequest'
      responses:
        '200':
          description: Status updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shipment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /upload-proof-of-delivery:
    post:
      tags: [Shipments]
      summary: Upload a proof-of-delivery document
      description: |
        Accepts a base64-encoded file (PDF / image) and stores it in the
        `proof-of-delivery` Supabase Storage bucket.  Links the file to the
        given shipment.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [shipmentId, fileName, fileData, mimeType]
              properties:
                shipmentId:
                  type: string
                  format: uuid
                fileName:
                  type: string
                fileData:
                  type: string
                  format: byte
                  description: Base64-encoded file content
                mimeType:
                  type: string
                  example: image/jpeg
      responses:
        '200':
          description: File uploaded and linked to shipment
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    format: uri
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
    put:
      tags: [Shipments]
      summary: Replace an existing proof-of-delivery document
      description: Replaces a previously uploaded proof-of-delivery file.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [shipmentId, fileName, fileData, mimeType]
              properties:
                shipmentId:
                  type: string
                  format: uuid
                fileName:
                  type: string
                fileData:
                  type: string
                  format: byte
                mimeType:
                  type: string
      responses:
        '200':
          description: File replaced
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ── Orders ────────────────────────────────────────────────────────────────

  /generate-invoice:
    post:
      tags: [Orders]
      summary: Generate a PDF invoice for an order
      description: |
        Generates a PDF invoice using jsPDF for the given order.  Returns the
        PDF as a base64-encoded string.  Accessible by the buyer who placed the
        order or by an admin.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [orderId]
              properties:
                orderId:
                  type: string
                  format: uuid
      responses:
        '200':
          description: PDF invoice
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Order not found

  # ── Stripe Connect ────────────────────────────────────────────────────────

  /connect-onboard:
    post:
      tags: [Connect]
      summary: Start or resume Stripe Connect Express onboarding
      description: |
        Creates (or resumes) a Stripe Connect Express account for the
        authenticated seller.  Returns a short-lived Stripe-hosted onboarding
        URL.  The seller's browser should be redirected to this URL.

        After completion Stripe redirects to:
        - Success: `/seller?tab=payouts&connect=success`
        - Refresh: `/seller?tab=payouts&connect=refresh`
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Onboarding URL
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    format: uri
                    description: Stripe Connect onboarding URL
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'

  /connect-dashboard:
    post:
      tags: [Connect]
      summary: Get a Stripe Express dashboard login link
      description: |
        Returns a short-lived Stripe Express dashboard URL for the authenticated
        seller.  The link allows the seller to view their Stripe balance, payouts,
        and account settings.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Express dashboard login link
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    format: uri
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Seller has not completed Connect onboarding
        '500':
          $ref: '#/components/responses/InternalError'

  /connect-status:
    post:
      tags: [Connect]
      summary: Fetch and sync Stripe Connect account status
      description: |
        Fetches live Stripe Connect account capabilities and persists the result
        in `seller_profiles.stripeConnectStatus`.

        Returns: `stripeConnectStatus`, `chargesEnabled`, `payoutsEnabled`,
        `detailsSubmitted`.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Connect account status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectStatus'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  /connect-platform-check:
    post:
      tags: [Connect]
      summary: Check whether the platform Stripe account has Connect enabled
      description: |
        Admin-only. Verifies that the platform Stripe account has enrolled in
        Connect.  Used by the admin dashboard to surface a warning when Connect
        is not yet configured.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Platform Connect configuration status
          content:
            application/json:
              schema:
                type: object
                properties:
                  platformConfigured:
                    type: boolean
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  # ── Notifications ─────────────────────────────────────────────────────────

  /send-email:
    post:
      tags: [Notifications]
      summary: Send a transactional email via SendGrid
      description: |
        Dispatches a transactional email using a named template.  Rate-limited
        to prevent abuse.  Requires `SENDGRID_API_KEY` to be configured.

        Supported templates:
        `order_confirmation`, `order_shipped`, `order_delivered`,
        `return_requested`, `dispute_opened`, `transport_quote_request`,
        `seller_new_order`, `seller_shipping_reminder`,
        `admin_seller_verification`, `contact_enquiry`
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendEmailRequest'
      responses:
        '200':
          description: Email sent
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /resend-verification:
    post:
      tags: [Auth]
      summary: Resend a verification / magic-link sign-in email
      description: |
        Admin-only. Resends a verification email to any user via the Supabase
        Auth Admin API (bypasses client-side rate limits).
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [userId, adminId]
              properties:
                userId:
                  type: string
                  format: uuid
                adminId:
                  type: string
                  format: uuid
      responses:
        '200':
          description: Verification email sent
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  # ── Reporting ─────────────────────────────────────────────────────────────

  /error-report:
    post:
      tags: [Reporting]
      summary: Report a client-side JavaScript error
      description: |
        Receives error reports from the client-side error-tracking module.
        Rate-limited to 60 reports per hour per IP.  Always returns 204.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                message:
                  type: string
                stack:
                  type: string
                url:
                  type: string
                  format: uri
                userAgent:
                  type: string
                timestamp:
                  type: string
                  format: date-time
      responses:
        '204':
          description: Report received
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /csp-report:
    post:
      tags: [Reporting]
      summary: Receive Content-Security-Policy violation reports
      description: |
        Receives CSP violation reports sent by the browser via the
        `report-uri` directive.  Reports are logged and optionally persisted
        to `csp_reports`.  Always returns 204.
      requestBody:
        required: true
        content:
          application/csp-report:
            schema:
              type: object
          application/reports+json:
            schema:
              type: object
      responses:
        '204':
          description: Report received

  # ── System ────────────────────────────────────────────────────────────────

  /health:
    get:
      tags: [System]
      summary: Health check
      description: Returns `{ ok: true }` when the function runtime is operational.
      responses:
        '200':
          description: Service healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  service:
                    type: string
                    example: loadify-market

# ─────────────────────────────────────────────────────────────────────────────
# COMPONENTS
# ─────────────────────────────────────────────────────────────────────────────
components:

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Supabase JWT obtained via `POST /auth/v1/token`

  # ── Schemas ──────────────────────────────────────────────────────────────

  schemas:

    Error:
      type: object
      properties:
        error:
          type: string
      required: [error]

    RegisterRequest:
      type: object
      required: [email, password, firstName, lastName, role]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 6
        firstName:
          type: string
        lastName:
          type: string
        role:
          type: string
          enum: [buyer, seller]
        storeName:
          type: string
          description: Required only when role is seller

    CreateCheckoutRequest:
      type: object
      required: [items, buyerId, shippingAddress, billingAddress]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/CheckoutItem'
          minItems: 1
        buyerId:
          type: string
          format: uuid
        shippingAddress:
          type: object
          additionalProperties:
            type: string
        billingAddress:
          type: object
          additionalProperties:
            type: string

    CheckoutItem:
      type: object
      required: [productId, quantity, price, title, sellerId]
      properties:
        productId:
          type: string
          format: uuid
        quantity:
          type: integer
          minimum: 1
        price:
          type: number
          format: float
          description: Price in GBP
        title:
          type: string
        sellerId:
          type: string
          format: uuid

    CreateShipmentRequest:
      type: object
      required: [order_id]
      properties:
        order_id:
          type: string
          format: uuid
        courier_name:
          type: string
        tracking_number:
          type: string
        dispatched_at:
          type: string
          format: date-time
          nullable: true
        shipping_method:
          type: string
        shipping_cost:
          type: number
          format: float

    Shipment:
      type: object
      properties:
        id:
          type: string
          format: uuid
        order_id:
          type: string
          format: uuid
        courier_name:
          type: string
        tracking_number:
          type: string
        status:
          type: string
          enum: [pending, dispatched, in_transit, delivered, returned]
        dispatched_at:
          type: string
          format: date-time
          nullable: true
        delivered_at:
          type: string
          format: date-time
          nullable: true
        shipping_cost:
          type: number
          format: float
        created_at:
          type: string
          format: date-time

    ShipmentTracking:
      type: object
      properties:
        orderNumber:
          type: string
        status:
          type: string
        courier_name:
          type: string
        tracking_number:
          type: string
        dispatched_at:
          type: string
          format: date-time
          nullable: true
        estimated_delivery:
          type: string
          format: date-time
          nullable: true
        tracking_events:
          type: array
          items:
            type: object
            properties:
              status:
                type: string
              message:
                type: string
              created_at:
                type: string
                format: date-time

    UpdateShipmentStatusRequest:
      type: object
      required: [status]
      properties:
        status:
          type: string
          enum: [pending, dispatched, in_transit, delivered, returned]
        message:
          type: string
          description: Optional status message visible to the buyer

    ConnectStatus:
      type: object
      properties:
        stripeConnectStatus:
          type: string
          enum: [pending, restricted, active]
        chargesEnabled:
          type: boolean
        payoutsEnabled:
          type: boolean
        detailsSubmitted:
          type: boolean

    SendEmailRequest:
      type: object
      required: [to, subject, template]
      properties:
        to:
          type: string
          format: email
        subject:
          type: string
        template:
          type: string
          enum:
            - order_confirmation
            - order_shipped
            - order_delivered
            - return_requested
            - dispute_opened
            - transport_quote_request
            - seller_new_order
            - seller_shipping_reminder
            - admin_seller_verification
            - contact_enquiry
        data:
          type: object
          description: Template-specific variables (order ID, buyer name, etc.)
          additionalProperties: true

  # ── Responses ─────────────────────────────────────────────────────────────

  responses:

    BadRequest:
      description: Bad request — missing or invalid parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    Unauthorized:
      description: Missing or invalid authorization token
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    Forbidden:
      description: Authenticated but insufficient permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    TooManyRequests:
      description: Rate limit exceeded — try again later
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    InternalError:
      description: Unexpected server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
